# Excluir todos los archivos markdown y shell scripts
*.md
*.sh

# Archivos de sistema
.DS_Store

# Archivos de propuestas
PROPUESTA.md
PROPUESTA.html
PROPUESTA.pdf
PROPUESTA_temp.md
MEDICAL_WEBSITE_DESIGN_RESEARCH.md
